html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline; 
} 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block; 
} 

body { 
	line-height: 1; 
} 

ol, ul { 
	list-style: none; 
} 

blockquote, q { 
	quotes: none; 
} 

blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
} 

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/*******************************************************************************************************************************/
.page {
    display: flex;
}

img.background {
    width: 40vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

.left{
    display: flex;
    flex-direction: column;
}

.logo {
    position: relative; /* To create a stacking context for pseudo-element */
}

.logo::before {
    content: "";
    width: 40vw;
    height: 17vh;
    position: relative;
    background-color: black;
    display: flex;
    background: rgba(0, 0, 0, 0.5); /* Background color with 50% opacity */
    z-index: -1; /* Place the pseudo-element behind the children */
    top: 150px;
}

.logo > img {
    width: calc(380px/4 - 20px);
    height: calc(508px/4 - 20px);
    display: block; /* To remove extra spacing below the image */
    
}

.citation {
    position: relative;
    bottom: 0vh;
}
.name {
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
}

.confirmation {
    display: flex;
    flex-direction: column;
}